<%= form_with(model: aula, local: true) do |form| %>
  <% if aula.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(aula.errors.count, "error") %> prohibited this aula from being saved:</h2>

      <ul>
      <% aula.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :disciplina_id %>
    <%= form.select(:disciplina_id, 
              Disciplina.all.collect {|cl| [cl.nome, cl.carga_horaria]}) %>
  </div>
  
  <div class="field">
  <%= form.label :curso_id %>
  <%= form.select(:curso_id, 
            Curso.all.collect {|cl| [cl.nome]}) %>
</div>

  <div class="field">
    <%= form.label :data %>
    <%= form.date_select :data %>
  </div>

  <div class="field">
    <%= form.label :objetivo %>
    <%= form.text_field :objetivo %>
  </div>

  <div class="field">
    <%= form.label :realizado %>
    <%= form.text_field :realizado %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
