<%= form_with(model: matricula, local: true) do |form| %>
  <% if matricula.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(matricula.errors.count, "error") %> prohibited this matricula from being saved:</h2>

      <ul>
      <% matricula.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :usuario_id %>
    <%= form.select(:usuario_id,
                    Usuario.all.collect {|cl|[cl.nome_aluno]}) %>
  </div>

  <div class="field">
  <%= form.label :curso_id %>
  <%= form.select(:curso_id, 
            Curso.all.collect {|cl| [cl.nome]}) %>
</div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
