<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario:</strong>
  <%= @matricula.usuario %>
</p>

<p>
  <strong>Curso:</strong>
  <%= @matricula.curso %>
</p>

<%= link_to 'Edit', edit_matricula_path(@matricula) %> |
<%= link_to 'Back', matriculas_path %>
