<%= form_with(model: nota, local: true) do |form| %>
  <% if nota.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(nota.errors.count, "error") %> prohibited this nota from being saved:</h2>

      <ul>
      <% nota.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nota %>
    <%= form.text_field :nota %>
  </div>

  <div class="field">
    <%= form.label :aluno_id %>
    <%= form.select(:aluno_id,
                      Aluno.all.collect{|cl|[cl.nome]}) %>
  </div>

  <div class="field">
    <%= form.label :professor_id %>
    <%= form.select(:professor_id,
    Aluno.all.collect{|cl|[cl.nome]}) %>
  </div>

  <div class="field">
    <%= form.label :disciplina_id %>
    <%= form.select :disciplina_id,
    Disciplina.all.collect{|cl|[cl.nome, cl.carga_horaria]} %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
