<%= form_with(model: nota_trab, local: true) do |form| %>
  <% if nota_trab.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(nota_trab.errors.count, "error") %> prohibited this nota_trab from being saved:</h2>

      <ul>
      <% nota_trab.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nota %>
    <%= form.text_field :nota %>
  </div>

  <div class="field">
    <%= form.label :aluno_id %>
    <%= form.text_field :aluno_id %>
  </div>

  <div class="field">
    <%= form.label :professor_id %>
    <%= form.text_field :professor_id %>
  </div>

  <div class="field">
    <%= form.label :disciplina_id %>
    <%= form.text_field :disciplina_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
